<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Use an absolute path for CSS -->
    <link rel="stylesheet" href="/index.css">
    <title>F1 Csapatok</title>
</head>
<body>
    <nav class="navbar">
        <h1><%= team.name %> versenyzők</h1>
        <%- include('partials/newButton', { label: 'Új versenyző', href: '/driver/add/' + team._id }) %>

    </nav>
    
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Szerep</th>
                    <th>Győzelmek</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < drivers.length; i++) {let driver = drivers[i];%>
                <tr>
                    <td><%= driver.name%></td>
                    <td><%= driver.role%></td>
                    <td><%= driver.wins%></td>
                    <td>
                        <a href="/driver/edit/<%=driver._id%>"><button class="action_button update">Update</button></a>
                        <a href="/driver/delete/<%=driver._id%>" class="action_button delete">Delete</a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
