

<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <title>F1 Csapatok</title>
</head>
<body>
    <nav class="navbar">
        <h1>F1 csapatok</h1>
        <%- include('partials/newButton', { label: 'Új csapat', href: '/team/add' }) %>
    </nav>
    
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>Név</th>
                    <th>Csapat vezető</th>
                    <th>Bajnoki címek</th>
                    <th>Műveletek</th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < teams.length; i++) {let team = teams[i];%>
                <tr>
                    <td><%= team.name%></td>
                    <td><%= team.principal%></td>
                    <td><%= team.championships%></td>
                    <td>
                        <a href="/team/add/<%=team._id%>"><button class="action_button update">Update</button></a>

                        <a href="/team/delete/<%=team._id%>" class="action_button delete">Delete</a>
                        <a href="/team/<%=team._id%>"><button class="drivers_btn">Drivers</button></a>
                    </td>
                </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
</html>
